.admin-order .box-order {
  display: grid;
  padding: 20px 20px 10px 20px;
  border: none;
  width: 98%;
  margin-left: 10px;
}

.admin-order table.order-list th {
  padding-bottom: 10px;
  text-align: center;
}

.admin-order table.order-list td {
  text-align: center;
  padding: 7px 0px;
  width: auto;
}

tbody tr:nth-child(odd) {
  background-color: #dfdfdf;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

.admin-order_action {
  display: flex;
  justify-content: flex-end;
}

.admin-order_search {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 15px;
  height: 48px;
}

.admin-order_search input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  width: 300px;
  height: 45px;
  padding-left: 10px;
}

.admin-order_search input[type="text"]:focus {
  outline: none;
}

.admin-order_search i {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  height: 45px;
  cursor: pointer;
}

.custom-select {
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 8px;
  height: 30px;
  width: 140px;
}