.admin-subcategory-add .form-group.parent input {
    background-color: rgb(233, 233, 233);
}

.admin-subcategory-add .form-group_btn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.admin-subcategory-add .btn-update {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

.admin-subcategory-add .btn-update:hover {
    background-color: #2377af;
    transition: all 0.6s ease;
}

.admin-subcategory-add .btn-close_update {
    padding: 10px 20px;
    font-size: 16px;
    color: #3498db;
    background-color: #ffff;
    border: 1px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

.admin-subcategory-add .btn-close_update:hover {
    background-color: #3498db;
    color: #ffff;
    transition: all 0.6s ease;
}

.image-preview {
    margin-top: 10px;
    max-width: 150px;
    height: auto;
    /* scale: 0.7; */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}