.productdetail-container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding: 0;
    color: #333;
}

.product-details {
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
    padding-top: 30px !important;
}

.breadcrumb {
    background: none;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

a {
    text-decoration: none;
}

/* Price */
.product-details .price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-price {
    font-size: 20px;
    color: #e74c3c;
    font-weight: 500;
}

.line-through {
    text-decoration: line-through;
    color: #636161;
    margin-right: 13px;
}

.sale-price {
    font-size: 18px;
    color: #e74c3c;
    font-weight: 500;
}

.sale-percent .discount {
    position: static;
    background: #d0c699;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 6px;
    border-radius: 2px;
    color: #f0efef;
    margin-left: 10px;
}

.product-quantity .form-control {
    width: 60px;
    display: inline-block;
}

.product-description,
.product-reviews,
.related-products,
.viewed-products {
    margin-top: 40px;
}

.related-products .card,
.viewed-products .card {
    margin-bottom: 20px;
}

.navbar.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details img {
    transition: transform 0.3s;
}

.product-details img:hover {}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
    background-color: #528ed4a6;
    border: none;
}

.btn-primary:hover {
    background-color: #528fd4;
}

.rating-summary {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.rating-summary .rating-score {
    font-weight: bold;
    margin-right: 10px;
}

.rating-summary .rating-stars,
.review-item .rating-stars {
    color: #f39c12;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review-item strong {
    display: block;
    font-size: 1.1em;
}

.btn-review {
    margin-top: 17px;
    background-color: #6e97ff;
    border: none;
    border-radius: 4px;
    color: white;
    height: 37px;
    width: 170px;
}

.btn-review:hover {
    background-color: #6e97ffce;
}

.row .col-md-3.product {
    width: 265px;
    margin-top: 17px;
}

.row .col-md-3.product .card:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.row .col-md-3.product .card img {
    height: 100%;
    width: 100%;
}