@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.productdetail-container {
    width: 100%;
    max-width: 1060px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    /* Center the container */
    font-family: "Roboto", sans-serif;
    padding: 0;
    color: #333;
    /* Center text */
}

.product-details {
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
    padding-top: 30px !important;
}

/* Other existing styles... */

.breadcrumb {
    background: none;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}


a {
    text-decoration: none;
}

/* Price */
.product-details .price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-price {
    font-size: 20px;
    color: #e74c3c;
    font-weight: 500;
}

.sale-price {
    text-decoration: line-through;
    color: #636161;
    margin-right: 13px;
}

.sale-percent {
    background: #d0c699;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 2px;
    color: #ffffff;
    margin-left: 10px;
}

.product-colors img {
    margin-right: 10px;
    cursor: pointer;
}

.product-sizes .btn {
    margin-right: 10px;
}

.product-quantity .form-control {
    width: 60px;
    display: inline-block;
}

.product-description,
.product-reviews,
.related-products,
.viewed-products {
    margin-top: 40px;
}

.related-products .card,
.viewed-products .card {
    margin-bottom: 20px;
}

/* CSS for navbar when scrolling */
.navbar.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for product effects */
.product-details img {
    transition: transform 0.3s;
}

.product-details img:hover {
    transform: scale(1.1);
}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
    background-color: #528ed4a6;
    border: none;
}

.btn-primary:hover {
    background-color: #528fd4;
}

/* CSS for reviews */
.rating-summary {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.rating-summary .rating-score {
    font-weight: bold;
    margin-right: 10px;
}

.rating-summary .rating-stars,
.review-item .rating-stars {
    color: #f39c12;
    /* Yellow color for stars */
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review-item strong {
    display: block;
    font-size: 1.1em;
}