.admin-user-add {
    margin: 20px;
    width: auto;
}

.admin-user-add form {
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.admin-user-add .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 0px 0px 10px;
    width: 100%;
}

.admin-user-add label {
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-user-add input[type="text"],
.admin-user-add input[type="email"],
.admin-user-add input[type="phoneNumber"],
.admin-user-add input[type="password"],
.admin-user-add input[type="date"],
.admin-user-add select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 470px;
    box-sizing: border-box;
}

.admin-user-add .btn-add {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

.admin-user-add .btn-add:hover {
    background-color: #3498db;
}

.admin-user-add .name {
    display: flex;
}

.admin-user-add .name .form-group input[type="text"]#firstName {
    width: 200px;
}

.admin-user-add .name .form-group input[type="text"]#lastName {
    width: 240px;
}

.admin-user-add .form-group.email input[type="email"]#email {
    width: 470px;
}